/*
 * OpenProject API v3
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * 
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package net.jbw.openproject.client.api;

import java.io.IOException;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import net.jbw.openproject.client.invoker.ApiCallback;
import net.jbw.openproject.client.invoker.ApiClient;
import net.jbw.openproject.client.invoker.ApiException;
import net.jbw.openproject.client.invoker.ApiResponse;
import net.jbw.openproject.client.invoker.Configuration;
import net.jbw.openproject.client.invoker.Pair;
import net.jbw.openproject.client.invoker.ProgressRequestBody;
import net.jbw.openproject.client.invoker.ProgressResponseBody;

public class CollectionsApi {
	private ApiClient apiClient;

	public CollectionsApi() {
		this(Configuration.getDefaultApiClient());
	}

	public CollectionsApi(ApiClient apiClient) {
		this.apiClient = apiClient;
	}

	public ApiClient getApiClient() {
		return apiClient;
	}

	public void setApiClient(ApiClient apiClient) {
		this.apiClient = apiClient;
	}

	/**
	 * Build call for apiV3ExamplesGet
	 * 
	 * @param groupBy                 The column to group by. Note: Aggregation is
	 *                                as of now only supported by the work package
	 *                                collection. You can pass any column name as
	 *                                returned by the [queries](#queries) endpoint.
	 *                                (optional)
	 * @param showSums                (optional)
	 * @param progressListener        Progress listener
	 * @param progressRequestListener Progress request listener
	 * @return Call to execute
	 * @throws ApiException If fail to serialize the request body object
	 */
	public com.squareup.okhttp.Call apiV3ExamplesGetCall(String groupBy, String showSums,
			final ProgressResponseBody.ProgressListener progressListener,
			final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
		Object localVarPostBody = null;

		// create path and map variables
		String localVarPath = "/api/v3/examples";

		List<Pair> localVarQueryParams = new ArrayList<Pair>();
		List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
		if (groupBy != null)
			localVarQueryParams.addAll(apiClient.parameterToPair("groupBy", groupBy));
		if (showSums != null)
			localVarQueryParams.addAll(apiClient.parameterToPair("showSums", showSums));

		Map<String, String> localVarHeaderParams = new HashMap<String, String>();

		Map<String, Object> localVarFormParams = new HashMap<String, Object>();

		final String[] localVarAccepts = {

		};
		final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
		if (localVarAccept != null)
			localVarHeaderParams.put("Accept", localVarAccept);

		final String[] localVarContentTypes = {

		};
		final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
		localVarHeaderParams.put("Content-Type", localVarContentType);

		if (progressListener != null) {
			apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
				@Override
				public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain)
						throws IOException {
					com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
					return originalResponse.newBuilder()
							.body(new ProgressResponseBody(originalResponse.body(), progressListener)).build();
				}
			});
		}

		String[] localVarAuthNames = new String[] { "basicAuth" };
		return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams,
				localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
	}

	@SuppressWarnings("rawtypes")
	private com.squareup.okhttp.Call apiV3ExamplesGetValidateBeforeCall(String groupBy, String showSums,
			final ProgressResponseBody.ProgressListener progressListener,
			final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {

		com.squareup.okhttp.Call call = apiV3ExamplesGetCall(groupBy, showSums, progressListener,
				progressRequestListener);
		return call;

	}

	/**
	 * view aggregated result
	 * 
	 * @param groupBy  The column to group by. Note: Aggregation is as of now only
	 *                 supported by the work package collection. You can pass any
	 *                 column name as returned by the [queries](#queries) endpoint.
	 *                 (optional)
	 * @param showSums (optional)
	 * @throws ApiException If fail to call the API, e.g. server error or cannot
	 *                      deserialize the response body
	 */
	public void apiV3ExamplesGet(String groupBy, String showSums) throws ApiException {
		apiV3ExamplesGetWithHttpInfo(groupBy, showSums);
	}

	/**
	 * view aggregated result
	 * 
	 * @param groupBy  The column to group by. Note: Aggregation is as of now only
	 *                 supported by the work package collection. You can pass any
	 *                 column name as returned by the [queries](#queries) endpoint.
	 *                 (optional)
	 * @param showSums (optional)
	 * @return ApiResponse&lt;Void&gt;
	 * @throws ApiException If fail to call the API, e.g. server error or cannot
	 *                      deserialize the response body
	 */
	public ApiResponse<Void> apiV3ExamplesGetWithHttpInfo(String groupBy, String showSums) throws ApiException {
		com.squareup.okhttp.Call call = apiV3ExamplesGetValidateBeforeCall(groupBy, showSums, null, null);
		return apiClient.execute(call);
	}

	/**
	 * view aggregated result (asynchronously)
	 * 
	 * @param groupBy  The column to group by. Note: Aggregation is as of now only
	 *                 supported by the work package collection. You can pass any
	 *                 column name as returned by the [queries](#queries) endpoint.
	 *                 (optional)
	 * @param showSums (optional)
	 * @param callback The callback to be executed when the API call finishes
	 * @return The request call
	 * @throws ApiException If fail to process the API call, e.g. serializing the
	 *                      request body object
	 */
	public com.squareup.okhttp.Call apiV3ExamplesGetAsync(String groupBy, String showSums,
			final ApiCallback<Void> callback) throws ApiException {

		ProgressResponseBody.ProgressListener progressListener = null;
		ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

		if (callback != null) {
			progressListener = new ProgressResponseBody.ProgressListener() {
				@Override
				public void update(long bytesRead, long contentLength, boolean done) {
					callback.onDownloadProgress(bytesRead, contentLength, done);
				}
			};

			progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
				@Override
				public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
					callback.onUploadProgress(bytesWritten, contentLength, done);
				}
			};
		}

		com.squareup.okhttp.Call call = apiV3ExamplesGetValidateBeforeCall(groupBy, showSums, progressListener,
				progressRequestListener);
		apiClient.executeAsync(call, callback);
		return call;
	}
}
